<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Reset Password</h2>
        <form >
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="Candidatedetails.password" required>
          </div>
     
          <button type="submit" (click)="modifiercandidate()" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  